{% extends "layout.html" %}
{% block title %}
ล็อคอิน
{% endblock %}

{% block content %}
      <link rel="stylesheet" href="/static/css/style.css">
      <div id="login">
        <form>
          <h1>Log In</h1>
          <input type="text" placeholder="Username">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
          <a href="{{url_for('register')}}">Do you have accout?</a>
          <button>Log  in</button>
        </form>
      </div>
        

{% endblock %}