{% extends "layout.html" %}
{% block title %}
ล็อคอิน
{% endblock %}

{% block content %}
      <link rel="stylesheet" href="/static/css/style.css">
      <div id="login">
        <form>
          <h1>register</h1>
          <input type="text" placeholder="Username">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
          <a href="{{ url_for('login') }}">have an account? Login here.</a>
          <button>Sign  in</button>
        </form>
      </div>
        
{% endblock %}
   

